h1 {
  color: white;
  font-family: 'Gidole', sans-serif;
}

footer {
  color: white;
  font-family: 'Gidole', sans-serif;
}
 
p {
  color: white;
  font-family: 'Gidole', sans-serif;
}

ul {
  color: white;
  font-family: 'Gidole', sans-serif;
}

li a{  color: white;
  font-family: 'Gidole', sans-serif;
}

.nav-links a{  color: white;
  font-family: 'Gidole', sans-serif;
}


html {
  background: #000;
}
