h1 {
  color: white;
  font-family: 'Gidole', sans-serif;
}

footer {
  color: white;
  font-family: 'Gidole', sans-serif;
}
 
p {
  color: white;
  font-family: 'Gidole', sans-serif;
}

ul {
  color: white;
  font-family: 'Gidole', sans-serif;
}

li a{  color: white;
  font-family: 'Gidole', sans-serif;
}

.nav-links a{  color: white;
  font-family: 'Gidole', sans-serif;
}

.warning {
  border: 10px ridge #f00;
  background-color: #ff0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.warning h1 {
  font: small-caps bold 1.2rem sans-serif;
  text-align: center;
  color: black;
}

nav {
    text-align: center;
    position: sticky;
}

html {
  background: #000;
}
